.Time_Container {
  background-color: black;
  color: white;
  width: 100vw;
  height: 100vh;
  overflow: none;
}
.Time_funtion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.five_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.five {
  font-size: 200px;
}
.Time_Btns {
  position: relative;
  display: inline-block;
  font-size: 15px;
  font-weight: 900;
  padding: 15px 45px;
  color: black;
  margin: 20px 10px 10px;
  border-radius: 6px;
  text-align: center;
  transition: top 0.01s linear;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}
.Time_Btns.time_set:hover {
  background-color: black;
  color: white;
}
.Time_Btns.time_set {
  background-color: white;
  box-shadow: 0 0 0 1px white inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 white, 0 8px 0 1px rgba(0, 0, 0, 0.4),
    0 8px 8px 1px rgba(0, 0, 0, 0.5);
}
.Time_Btns.time_set:active {
  box-shadow: 0 0 0 1px white inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0, 0, 0, 0.4);
}
